body {
  font-family: Arial, sans-serif;
  background-color: #C8C0CD;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #7C7072;
}

sup {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    color: #C8C0CD;
    background-color: #E1FF77;
    border: none;
    border-radius: 8px;
    padding-left: 2px;
    padding-right: 2px;    
}

a {
  text-decoration: none;
}

textarea {
  width: 80%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #fdf9ff;
  color: white;
  resize: none;
}

.buttons {
  margin-bottom: 20px;
}

button {
  background-color: #8a2be2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5f9ea0;
}

#copyButton {
  background-color: #00ced1;
}

#copyButton:hover {
  background-color: #20b2aa;
}

#outputText {
  margin: 20px auto;
}
