/* 
   font-family: 'Hanken Grotesk', sans-serif;
   font-family: 'Kalnia', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Kalnia&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  overflow-x: hidden;
  padding: 3em;
  margin: auto;
  font-family: 'Kalnia', serif;
  background-color: #D8E7C8;
  color: #922A4B;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header, main {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 0 0px 20px, 0 0 0px, 0 0 1em #922A4B, 0 0 0.5em #6f1b37, 0 0 0.1em #922A4B;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: normal;
}
#title {
  color: #D8E7C8;
  margin: 0;
  padding: 0;
}

hr {
  margin: 35px auto;
  width: 100px;
  height: 6px;
  background: #922A4B;
  border: none;
  box-shadow: none;
}

button {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  appearance: none;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
  background: transparent !important;
  border: solid #5a5a5a 2px;
  border-radius: 50%;
  position: relative;
  top: 0;
  margin: 4px 1px;
  text-align: center !important;
  
  border-style: outset;
  border-color: #922A4B #5a5a5a #5a5a5a #922A4B;
  border-width: 2px;
  box-shadow: 2px 2px 0px #5a5a5a;
  /* Add the following styles for the image/icon */
  overflow: hidden;
  padding: 0; /* Remove padding to fit the image */
  width: 90px; /* Adjust the width of the button for image */
  height: 90px; /* Adjust the height of the button for image */  
}

button img {
  display: block;
  width: 100%; /* Make the image fill the button */
  height: auto;
  border-radius: 50%; /* Ensure the image is round */
}

footer {
  margin-top: 35px;
  text-align: right;
  font-size: 0.8em;
}
