@font-face {
    font-family: Pentameter Regular;
    src: url(fonts/Pentameter-Wide-Regular-Trial.woff);
}

@font-face {
    font-family: Pentameter Italic;
    src: url(fonts/Pentameter-Wide-ThinItalic-Trial.woff);
}

@font-face {
    font-family: Pentameter Light;
    src: url(fonts/Pentameter-Wide-Light-Trial.woff);
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(fonts/HelveticaNeue-Light.woff);
    src: url(fonts/HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(fonts/HelveticaNeue-Bold.woff);
    src: url(fonts/HelveticaNeue-Bold.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(fonts/HelveticaNeue-Medium.woff);
    src: url(fonts/HelveticaNeue-Medium.woff2);
}




@font-face {
    font-family: 'standard';
    src: url(fonts/Standard-Book.woff2);
}

@font-face {
    font-family: 'times now';
    src: url(fonts/TimesNow-Light.woff2);
}
