@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

a:link, a:visited, a:hover, a:active {
  font-family: 'VT323', monospace;
  color: inherit;
  font-size: 2em;
  text-decoration: wavy underline;

  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a:focus, a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
