@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

a:link, a:visited, a:hover, a:active {
  font-family: 'VT323', monospace;
  color: inherit;
  font-size: 2em;
  text-decoration: wavy underline;
}
