body {
    background-color: #1a1a2e;
    color: #88c0d0;
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4a4e69;
    color: #88c0d0;
    border: 2px solid #88c0d0;
    border-radius: 5px;
    resize: none;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #4a4e69;
    color: #88c0d0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    background-color: #88c0d0;
    color: #1a1a2e;
}

#copyButton {
    background-color: #4a4e69;
    color: #88c0d0;
    border: 2px solid #88c0d0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

#copyButton:hover {
    background-color: #88c0d0;
    color: #1a1a2e;
}

#outputText {
    margin: 25px auto;
    color: #4a4e69;
}
