body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
  font-size: 18px;
  height: 100vh;
  background-color: rgb(235,255,160);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-family: 'Space Grotesk', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  font-size: 2em;
  font-weight: normal;
  text-align: right;
  text-decoration: wavy underline;
}
