body {
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: hsl(0deg 0% 96%);
}

svg {
 width: 33%;
}

.container {
 padding: 1rem;
 max-width: 600px;
 width: 90vw;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
 max-height: 300px;
 height: 90vw;
 border-radius: 5px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
 color: white;
 font-weight: bold;
 background-color: #38023B;
 padding: 2px;
 border-radius: 7px;
 text-decoration: none;
}
